<%= form_with(model: author, local: true) do |form| %>
  <div class="field">
    <%= form.label :name, t("views.authors.name") %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :bio, t("views.authors.bio") %>
    <%= form.text_area :bio %>
  </div>

  <div class="field">
    <%= form.label :image %><br>
    <%= form.file_field :image %>
    <% if form.object.image? %>
      <%= image_tag f.object.image.thumb.url %>
      <%= form.label :remove_image %>
      <%= form.check_box :remove_image %> 
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
