<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("views.authors.name")%>:</strong>
  <%= @author.name %>
</p>

<p>
  <strong><%= t("views.authors.bio")%>:</strong>
  <%= @author.bio %>
</p>

<%= link_to t("views.edit"), edit_author_path(@author) %> |
<%= link_to t("views.back"), authors_path %>
